{% extends 'base.html' %}

{% block title %}Módulo de Administración{% endblock %}

{% block content %}
  <h2>Gestión de elementos delCatálogo</h2>

  <p>
    <a href="{% url 'elemento_add' %}">Agregar Elemento</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Denominación</th>
        <th>País</th>
        <th>Moneda</th>
      </tr>
    </thead>
    <tbody>
      {% for un_elemento in elemento %}
        <tr>
          <td><a href="{% url 'elemento_change' elemento.pk %}">{{ un_elemento.denominacion }}</a></td>
          <td>{{ un_elemento.pais.nombre }}</td>
          <td>{{ un_elemento.tipo_moneda.nombre }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No existen elementos en el catálogo. <a href="{% url 'elemento_add' %}">Agregue el primer elemento</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}